body {
    height: 800px;
    /*background-image: linear-gradient(#71b49b,rgb(255, 255, 255));*/
    background-image: url("imagenes/fondohtml.png ");
    background-size: 2000px 2000px;
    background-color: rgb(255, 255, 255); /* For browsers that do not support gradients */
    background-repeat: no-repeat;
    
}