
/*Archivo de CSS para editar mas comodo la parte estetica del proyecto*/

#infotable {  /*Tabla principal*/
    margin-top: 30px;
    width: 70%;
    margin-left: 250px;
} 


tr:nth-child(even) { /*Cambiar las columnas de la tabla, modo zebre*/
    background: rgb(206, 155, 155);
}

th {
    cursor: pointer;
    background-color: #03718d;
    color: white;
}

th, td{
    
    padding: 15px;
    text-align: left; 
}

tr:hover {background-color: coral;} /*Cuando el mouse se pose en una fila, esta se coloreara*/

.ArtistaDestacado {
    background-image: "";
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    text-align: left;
}