
/*Archivo de CSS para editar mas comodo la parte estetica del proyecto*/

#infotable {  /*Tabla principal*/
    margin-top: 30px;
    width: 70%;
    margin-left: 250px;
} 


tr:nth-child(even) { /*Cambiar las columnas de la tabla, modo zebre*/
    background: rgb(206, 155, 155);
}

th {
    cursor: pointer;
    background-color: #03718d;
    color: white;
}

th, td{
    
    padding: 15px;
    text-align: left; 
}

tr:hover {background-color: coral;} /*Cuando el mouse se pose en una fila, esta se coloreara*/

.ArtistaDestacado img{
    
    transition: transform .2s;
    width:100%;
    height:100%;
    /*position: absolute;
    width: 500px; 
    height: 500px;
    top: 0px;
    left: 10px;
    max-width: 105%;
    height: auto; */
    border-radius: 8px;
}

.ArtistaDestacado {
    position: absolute;
    left: 25px;
    top: 170px;
    background-image: "";
    width: 210px;
    
     
} 

.ArtistaDestacado .textimg{ /*texto de imagen artista destacado*/
    position: absolute;
    transition: transform .2s;
    top: 90%;
    left: 10%;
    color:white;
    font-family:verdana;
    opacity: 0;
}

.ArtistaDestacado img:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.ArtistaDestacado:hover .textimg{
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    opacity: 1;
}