
/*Archivo de CSS para editar mas comodo la parte estetica del proyecto*/
head{
    text-shadow: none;
}

main{
    margin-top: 107px;
    
}


.container{
    width: 100%;
    padding: 5%;
}

#infotable {  /*Tabla principal*/
    width: 70%;
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: 250px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    
} 

#links{
    color: rgb(53, 93, 179);
    text-decoration: none;
    font-weight: 600;
    
}

#links:hover{
    color: aliceblue;
}


tr:nth-child(even) { /*Cambiar las columnas de la tabla, modo zebre*/
    background: rgb(250, 200, 124);
}

th {
    cursor: pointer;
    background-color: #03718d;
    color: white;
}

th, td{
    
    padding: 15px;
    text-align: left; 
}



tr:hover {background-color: coral;} /*Cuando el mouse se pose en una fila, esta se coloreara*/


.mainimage {
    
    position: relative;
    left: 0px;
    top: 30px;
    width: 100%; 
    transition: width 2s;
    
}

.mainimage #frontimage{
    width:100%;
    height:100%;
    
    
}

.maintext{
    position: absolute;
    top: 40px;
    left: 150px;
    color:rgb(226, 226, 226);
    font-family:verdana;
    font-size: 80px;
    text-shadow: 1px 0px 0px black,
                0px 1px 0px black,
                -1px 0px 0px black,
                0px -1px 0px black;
    width:100%;
    height:100%;
}



#tabletitle {
    margin-top: 80px;
    text-align: center;
    font-size: 50px;
    font-family:verdana;
}


/*ARTISTA DESTACADO*/


#artist1 {
    left: 25px;
    
}

#artist2{
    left: 1600px; 
}





.ArtistaDestacado .textimg{ /*texto de imagen artista destacado*/
    position: absolute;
    transition: transform .2s;
    top: 90%;
    left: 10%;
    color:white;
    font-family:verdana;
    opacity: 0;
}

.ArtistaDestacado img:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.ArtistaDestacado:hover .textimg{
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    opacity: 1;
}


.ArtistaDestacado img{
    
    transition: transform .2s;
    width:100%;
    height:100%;
    /*position: absolute;
    width: 500px; 
    height: 500px;
    top: 0px;
    left: 10px;
    max-width: 105%;
    height: auto; */
    border-radius: 8px;
}

.ArtistaDestacado {
    position: absolute;
    top: 1300px;
    width: 210px;  
    top: 1500px;  

    border-style: double;
    border-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: #03718d;
} 

footer{
    
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
}

.section{
    position: relative;
    display: flex
}
.Freelanger{
    color: rgb(109, 109, 109);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 700;
    top: 0px;
    
}
.icons{
    color: rgb(88, 88, 88);
    position: absolute;
    top: 14px;
    right: 0px;
    width: 1000px;
    height: 40px;
    font-size: 30px;
    margin-left: 200px;    
    
    
}















