
/*Editar la barra del menu en un solo CSS*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.topnav {
    font-family: "Montserrat", sans-serif;
    max-width: 1280px;
    width: 90%;
    margin: auto;
    display: flex;
    overflow: hidden;
    /*padding-inline-start: 25px;*/
    justify-content: center;
    align-items: center;
}

/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #838383;
    text-align: center;
    padding: 14px 96px;
    text-decoration: none;
    font-size: 24px;
    
    
}


/* Change the color of links on hover */
.topnav a:hover{
    background-color: #ddd;
    color: black; 
    transform: scale(1.5);
}

/* Add a color to the active/current link */
.topnav a.active{
    background-color: #3e76c0;
    color: white;
}